# Database Settings
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
LIQUIBASE_ENABLED=true

# Security Settings
SECURITY_USER_NAME=
SECURITY_USER_PASSWORD=

# Mail Settings
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=


# Server Settings
SERVER_URL=http://localhost:8080
SERVER_DESCRIPTION=Local server
SERVER_DOMAIN=localhost
SERVER_HTTP_PORT=8080
SERVER_HTTPS_PORT=8443
BACKEND_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080