@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none; 
  user-select: none;        
}

input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}